# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.name
.idea/copyright/
.idea/docker-ubuntu16-lamp-xdebug-ssl-phpunit.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
